<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        tools:targetApi="31"
        android:icon="@mipmap/launcher_icon">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Enhanced Snapchat" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/sc_scope" />

        <service
            android:name=".bridge.service.BridgeService"
            android:exported="true"
            tools:ignore="ExportedService">
        </service>

        <receiver android:name=".download.DownloadManagerReceiver" android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="me.rhunk.snapenhance.download.DownloadManagerReceiver.DOWNLOAD_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.download.DownloadManagerActivity"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.map.MapActivity"
            android:exported="true"
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.config.ConfigActivity"
            android:theme="@style/AppTheme"
            android:excludeFromRecents="true"
            android:exported="true" />
    </application>

</manifest>